/*"All of the applied accessibility challenges so far haven't used any CSS yet. 
 This is to show the importance of a logical document outline,
 and using semantically meaningful tags around your content before
 introducing the visual design aspect." - freeCodeCamp.org*/
 .sr-only {
    overflow: hidden;
    position: absolute ;
      left: -10000px;
      top: auto;
    width: 1px;
    height: 1px;
 }