/*"The Web Content Accessibility Guidelines (WCAG) recommend at least a 4.5 to 1 contrast ratio for normal text." - freeCodeCamp.org*/
 .sr-only {
    overflow: hidden;
    position: absolute ;
      left: -10000px;
      top: auto;
    width: 1px;
    height: 1px;
 }
 body {
     color: #636363;
     background-color: #FFF;
 }