/*"The Web Content Accessibility Guidelines (WCAG) recommend at least a 4.5 to 1 contrast ratio for normal text." - freeCodeCamp.org*/
 .sr-only {
    overflow: hidden;
    position: absolute ;
      left: -10000px;
      top: auto;
    width: 1px;
    height: 1px;
 }
 /*In practice, the 4.5:1 contrast ratio can be reached by shading (adding black to) the darker color and tinting (adding white to) the lighter color. */
 body {
    color: hsl(0, 55%, 15%);
    background-color: hsl(120, 25%, 55%);
}
/*fixed the contrast issue by adding lightness to foreground and background color properties*/
/*"Different styles for an important button, but the yellow (#FFFF33) background-color and the green (#33FF33) text color were neighboring hues on the color wheel and virtually indistinguishable for some colorblind users."*/
 .submit {
    color: #003366;
    background-color: #FFFF33;
    font-size: 14px;
    padding: 10px;
  }
 }